Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [ ]:
import pandas as pd

In [ ]:
data = [4, 8, 15, 16, 23,42]

In [ ]:
series = pd.Series(data)

In [ ]:
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [ ]:
data1 = [1,2,3,4,5,6,7,8,9,11]

In [ ]:
import pandas as pd 
series = pd.Series(data1)

In [ ]:
series

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    11
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

In [ ]:
import pandas as pd 
data = {"Name":["Alice","Bob" ,"Claire"],
        "Age":[25,30,27],
        "Gender":["Female","Male" ,"Female"]}

In [ ]:
data_frame = pd.DataFrame(data)
print(data_frame)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
a = data_frame.to_csv("jjk.csv")

In [ ]:
pd.read_csv("jjk.csv")

   Unnamed: 0    Name  Age  Gender
0           0   Alice   25  Female
1           1     Bob   30    Male
2           2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different types, similar to a table in a relational database. It can be thought of as a collection of Pandas series, where each column represents a series. In other words, a DataFrame is a collection of series that share the same index.

On the other hand, a Series is a 1-dimensional labeled array that can hold data of any type (integer, string, float, Python objects, etc.). It is similar to a column in a table or a single vector in statistics.

Here's an example to illustrate the difference between a DataFrame and a Series:

In [ ]:
import pandas as pd

# create a Series
s = pd.Series([1, 2, 3, 4])

# create a DataFrame from a dictionary
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [25, 32, 18, 47],
    'gender': ['female', 'male', 'male', 'male']
}
df = pd.DataFrame(data)

# print the Series and the DataFrame
print(s)
print(df)

In this example, we first create a Series called s with four integer values. Then, we create a DataFrame called df from a dictionary with three columns (name, age, and gender), each containing a list of values. Finally, we print both the Series and the DataFrame to the console using the print function.

As you can see, the Series has only one column of data, while the DataFrame has three columns. Additionally, the Series has an implicit index (0 to 3), while the DataFrame has a separate index for each row (0 to 3 in this case) that can be accessed using the df.index attribute.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Q7. Create a DataFrame using multiple Series. Explain with an example.

There are many common functions that can be used to manipulate data in a Pandas DataFrame. Some examples include:

head() and tail(): These functions can be used to display the first or last n rows of a DataFrame. For example, df.head(10) will display the first 10 rows of the DataFrame df.

describe(): This function provides a summary of the numerical columns in the DataFrame, including count, mean, standard deviation, minimum, maximum, and quartiles. For example, df.describe() will display a summary of the DataFrame df.

dropna(): This function can be used to remove rows or columns with missing values from the DataFrame. For example, df.dropna() will remove all rows with missing values from the DataFrame df.

fillna(): This function can be used to fill missing values in the DataFrame with a specified value or method. For example, df.fillna(0) will replace all missing values in the DataFrame df with 0.

groupby(): This function can be used to group the rows of a DataFrame based on one or more columns, and apply a function to each group. For example, df.groupby('category').mean() will group the rows of the DataFrame df by the 'category' column, and calculate the mean of the numerical columns for each group.

sort_values(): This function can be used to sort the rows of a DataFrame based on one or more columns. For example, df.sort_values('column_name') will sort the rows of the DataFrame df based on the values in the 'column_name' column.

pivot_table(): This function can be used to create a pivot table from the DataFrame. For example, pd.pivot_table(df, values='value', index='index_column', columns='column_name') will create a pivot table from the DataFrame df with 'index_column' as the index, 'column_name' as the columns, and 'value' as the values.

apply(): This function can be used to apply a function to each row or column of the DataFrame. For example, df.apply(lambda x: x.max() - x.min()) will calculate the range of each column in the DataFrame df.

These are just a few examples of the many functions available in Pandas for manipulating data in a DataFrame.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, both Series and DataFrame are mutable in nature, while Panel is immutable.

When we modify a Series or DataFrame object by adding, deleting, or updating values or columns, the changes are reflected in the original object. For example, if we add a new column to a DataFrame using the df['new_column'] = values syntax, the original DataFrame df will be modified to include the new column.

On the other hand, Panel is an immutable three-dimensional data structure in Pandas that has been deprecated since version 0.25.0. This means that once a Panel object is created, its data cannot be modified. Instead, new Panel objects must be created with modified data. However, since Panels are rarely used in practice, this is not a major issue.

In [11]:
import pandas as pd

name_and_age = {"Name":["Bhushan","Kunal","Shreyash","yash","karan"],
                "Age":[21,23,24,21,25]}

name_and_hight = {"Bhushan":146 ,
                  "Kunal":167,
                  "Shreyash":167,
                  "yash":189,
                  "karan":178
                  }   
name_and_age_series = pd.Series(name_and_age)   
name_and_hight_series = pd.Series(name_and_hight)

pd.DataFrame({"name":name_and_age_series["Name"],"age":name_and_age_series["Age"],"Hight":name_and_hight_series})

              name  age  Hight
Bhushan    Bhushan   21    146
Kunal        Kunal   23    167
Shreyash  Shreyash   24    167
yash          yash   21    189
karan        karan   25    178